*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: red;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    transition: 300ms;
}


h1:hover{
    transform:  translateX(50px);
    
}