*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: rgb(233, 210, 95);
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    transition: 300ms;
}


h1:hover{
    transform:  translateX(50px);
    
}

main{
    height: 100hv;
    background: grey;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media(max-width:1000px){
    header{
        background: black;
    }
}